<!-- index.html -->
{% extends 'base.html' %}
{% block title %}
Super Secret Client Endpoint
{% endblock %}

{% block content %}

{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }} <!-- Corrected here -->
</div>
{% endif %}


<style>
    /* Custom CSS for terminal-like appearance */
    .terminal-form {
        background-color: #f8e7e7; /*pink!*/
        color: #724060;
        border: 7px solid #724060; /* purple border */
        border-radius: 25px;
        padding: 10px;
        margin-top: 20px;
        font-family: monospace; /* Use a monospace font for terminal-like appearance */
        height: 300px; /* Adjust the height to your preference */
        overflow-y: auto; /* Enable vertical scrollbar if content exceeds the height */
    }
    .terminal-input {
        background-color: transparent; /* Transparent background */
        color: #724060;
        border: none;
        outline: none;
        font-family: monospace; /* Use a monospace font for terminal-like appearance */
        width: 100%; /* Fill the width of the parent container */
    }
</style>

<div class="container cursor">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
            <h1 class="pt-5 pb-2">Welcome to our homebase!</h1>
            <form id="myForm" action="/" method="post" class="terminal-form">
                {{ form.csrf_token }}
                <div class="border p-4 rounded">
                    <input type="text" name="cmd" class="terminal-input" autofocus placeholder="=> " required>
                </div>
            </form>
            <h3>Previous command:</h3>
            <p class="pt-5"><strong>{{ cmd }}</strong></p>
        </div>
    </div>
</div>

<script>
    // JavaScript function to handle form submission on Enter key press
    function submitFormOnEnter(event) {
        if (event.keyCode === 13) {  // Check if the pressed key is Enter (keyCode 13)
            event.preventDefault();  // Prevent the default form submission
            document.getElementById('myForm').submit();  // Submit the form
        }
    }

    // Attach keydown event listener to the form input field(s)
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.terminal-input').addEventListener('keydown', submitFormOnEnter);
    });
</script>
{% endblock %}
