<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super Secret Endpoint Slay</title>

  <!--<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">-->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <!-- Your custom CSS file -->
  <!--<link href="static/css/style.css" rel="stylesheet">-->
  <style>
    #map {
      height: 400px;
    }
  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../client">Terminal and Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="../explorer">File explorer</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="px-4 pt-5 my-3 text-center border-bottom">
    <div class="pb-3">
      <h1 class="display-4 fw-bold">Implants Online</h1>
    </div>
    <div class="col-lg-6 mx-auto">
      <p class="mb-4 pb-3">
        Wow gurls youre really killing the game out here. look at all these losers falling victim to your
        quick wit and overall charm. Social engineering and implanting on everyone. The world better watch
        out for you!
      </p>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div id="map"></div>
      </div>
      <div class="col-md-6">
        <div class="container cursor">
          <form id="myForm" action="{{ url_for('client.index') }}" method="post" class="terminal-form">
            {{ form.csrf_token }}
            <div class="border p-4 rounded">
              <input type="text" name="cmd" class="terminal-input" autofocus placeholder="=> " required>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </div>
          </form>
          <!-- Add a new div to display the response message -->
          <div id="response-container" class="mt-3"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NO4Q+wdjj2XXEUsJf2/4MVJr2xpk7IeKEOCyirjNfcm+.JWNCQ==" crossorigin=""></script>

  <script>
    // Initialize the map
    var map = L.map('map').setView([51.505, -0.09], 13);

    // Add tile layer (OpenStreetMap)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
    }).addTo(map);

    // Add three points to the map
    var points = [
      { coords: [40.721620, -73.940080], name: 'Implant 1' },
      { coords: [42.339700, -71.091720], name: 'Implant 2' },
      { coords: [42.328350, -71.098920], name: 'Implant 3' },
      { coords: [36.132519, -115.164581], name: 'Implant 4'}
    ];

    var markerArray = [];
    points.forEach(function(point) {
      var popupContent = `Latitude: ${point.coords[0]}<br>Longitude: ${point.coords[1]}<br>${point.name}`;
      var marker = L.marker(point.coords).addTo(map).bindPopup(popupContent);
      markerArray.push(marker);
    });

    // Create a bounds object to fit all markers
    var bounds = new L.LatLngBounds();
    markerArray.forEach(function(marker) {
      bounds.extend(marker.getLatLng());
    });

    // Fit the bounds to the map
    map.fitBounds(bounds);
  </script>

  <style>
    /* Custom CSS for terminal-like appearance */
    .terminal-form {
      background-color: black;
      color: white;
      border: 2px solid white; /* Green border */
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;
      font-family: monospace; /* Use a monospace font for terminal-like appearance */
      height: 300px; /* Adjust the height to your preference */
      overflow-y: auto;
    }
    .terminal-input {
      background-color: transparent; /* Transparent background */
      color: white;
      border: none;
      outline: none;
      font-family: monospace; /* Use a monospace font for terminal-like appearance */
      width: 100%; /* Fill the width of the parent container */
    }
  </style>

  <script>
    // JavaScript function to handle form submission on Enter key press
    function submitFormOnEnter(event) {
      if (event.keyCode === 13) {  // Check if the pressed key is Enter
        event.preventDefault();  // Prevent the default form submission
        document.getElementById('myForm').submit();  // Submit the form
      }
    }

    // Update the response container with the received response
    function updateResponse(response) {
      var responseContainer = document.getElementById('response-container');
      responseContainer.innerHTML = '<strong>Response:</strong> ' + response;
    }

    // Attach keydown event listener to the form input field(s)
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelector('.terminal-input').addEventListener('keydown', submitFormOnEnter);
    });
  </script>
</body>
</html>
